@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f4f4f4;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
}

main {
  flex: 1;
}

header,
footer {
  background-color: #fff;
  padding: 20px;
}

main article {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
}

nav a:hover,
nav a.active {
  color: #000;
  text-decoration: underline;
}

.logo {
  color: #000;
  font-family: 'Rock Salt', cursive;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 15px;
}

footer .logo {
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

footer .right {
  float: right;
}

footer {
  background-color: #f4f4f4;
  padding: 20px;
}

footer a {
  color: #000;
  text-decoration: none;
}

li {
  margin-bottom: 10px;
}

main img {
  width: 100%;
  border-radius: 8px;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  main article {
    padding: 30px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  nav a {
    padding: 10px 20px;
  }

  .logo {
    font-size: 36px;
    margin-bottom: 20px;
  }

  footer .logo {
    font-size: 16px;
  }

  footer {
    padding: 30px;
  }
}
